.hero-background {
  background-image: url('../Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero-padding {
  padding-top: 250px;
  padding-bottom: 250px;
}
